DATABASE_NAME=prestation_development
DATABASE_USER=ipres
DATABASE_PASSWORD=passer
DATABASE_HOST=database
REDIS_HOST=redis
DATABASE_URL=postgres://ipres:passer@database/prestation_docker_test?pool=5
RAILS_ENV=docker_test
DATABASE_URL=postgres://username:password@hostname/database_name?pool=5
DATABASE_PSRM_URL=mysql2://username:passworsd@localhost/database_name?pool=5
API_AUTH_TOKEN_HASH="$$$$$$$$$$$$$$$$$$$$$$$"